# ativar o motor do mecanismo
RewriteEngine On

# senão for diretorio executa as regras
# senão for file executa as regras
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

# L-> (last)indica que a regra deverá ser executada independente da existencia de outras regras 

# QSA-> força o uso das consultas strings, sel elea as consultas são ignoradas
#RewriteRule ^(.+)$ index.php?path=$1 [QSA,L]

# Simplifica a url para ser so /user ou /user/x x-> número/id
RewriteRule ^user/?$ ws_server.php [NC,L]
#(-clausulas para aceder usamos o $numero_da_clausula)
RewriteRule ^user/([0-9]+)/?$ ws_server.php?id=$1 [NC,L]